<mat-card class="random-kitty__card">

    <mat-card-header>
        <mat-card-title>Look at this nice kitty!</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <img [src]="oneRandomeKittyUrl" alt="nice randome kitty" class="random-kitty__img">
    </mat-card-content>

    <mat-card-actions> 
        <button mat-raised-button 
            color="primary" type="submit" 
            class="get-random-kitty__btn" 
            (click)="getNewKitty()">Get new kitty!
        </button>
    </mat-card-actions>
    
</mat-card>